:root {
  /* 배경색 */
  --background-color: #fcf2e8;
  --tooltip-color: #336699;
  --tt-text-color: #f0f0f0;
}

@font-face {
  font-family: 'MapoPeacefull';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoPeacefullA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  background-color: var(--background-color);
  width: 100%;
  height: 100%;
  font-family: 'MapoPeacefull';
}

/* header */
header {
  margin-bottom: 100px;
}

#wave {
  width: 100%;
  height: 100px;
  z-index: 1;
}

#logo {
  margin: 10px;
  height: 55px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
}

header i {
  margin: 15px;
  font-size: 40px;
  color: white;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  cursor: pointer;
}

.tooltip {
  padding: 5px;
  position: absolute;
  top: 70px;
  right: 15px;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--tooltip-color);
  display: none;
}

.tooltip.active {
  display: flex;
}

.tooltip::after {
  border-top: 0px solid transparent;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid var(--tooltip-color);
  content:"";
  position:absolute;
  top:-10px;
  right: 7px;
}

.tooltip a {
  text-decoration: none;
  color: var(--tt-text-color);
  margin: 1px;
  padding: 5px 10px;
  width: 80%;
  text-align: center;
}

.tooltip hr {
  width: 90%;
  border-bottom: 0px;
  color: white;
}

/* tutorial */
.tutorial {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 3;
}

.tutorial__title {
  font-size: 30px;
  text-align: center;
  margin: 100px 0 80px 0;
}

.tutorial__content {
  display: flex;
  justify-content: center;
  width: 90%;
  margin: auto;
}

.tutorial__image {
  background-color: #ddd;
  width: 250px;
  height: 250px;
  padding: 10px;
  border-radius: 8px;
}

#tt_img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.tutorial__info {
  max-width: 720px;
  min-width: 250px;
  height: 210px;
  font-size: 22px;
  padding: 30px;
}

#tt_expl {
  height: 80%;
  overflow: auto;
  margin-bottom: 3%;
}

.tutorial__start {
  margin-top: 5%;
  font-size: 20px;
  text-align: center;
  text-decoration: underline;
  cursor: pointer;
}

/* main */
h1 {
  margin-left: 15%;
  z-index: 2;
}

.title__line {
  position: absolute;
  top: 225px;
  left: 15%;
  width: 190px;
  height: 15px;
  background-color: rgba(74, 139, 204, 0.5);
  z-index: 1;
}

/* video */
#container {
  position: relative;
}

#video {
  width: 60%;
  height: 400px;
  background-color: #666;
  position: relative;
  left: 20%;
  transform: rotateY(180deg); /* 화면 반전 */
  -webkit-transform:rotateY(180deg); /* Safari and Chrome */
  -moz-transform:rotateY(180deg); /* Firefox */
}

/* exercise image */
#ex_img {
  width: 150px;
  height: 150px;
  object-fit: contain;
  background-color: rgba(255, 255, 255, 0.8);
  position: absolute;
  right: 20%;
  top: 250px;
  z-index: 2;
}

/* timer */
.timer {
  display: flex;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
  margin-left: 20%;
  align-items: center;
}

.timer i {
  font-size: 28px;
  margin-right: 10px;
}

.timer span {
  font-size: 1.5rem;
  font-weight: bold;
}

/* bar */
#out_bar {
  width: 60%;
  height: 20px;
  background-color: #d3d3d3;
  margin-bottom: 20px;
  position: relative;
  left: 20%;
  bottom: 10%;
}

#in_bar {
  width: 0%;
  height: 20px;
  background-color: #f47575;
}

/* buttons */
.btn {
  font-size: 35px;
  cursor: pointer;
  width: 200px;
  display: flex;
  justify-content: space-between;
  margin: auto;
}

/* overview */
.overview {
  display: flex;
  margin: 30px;
  align-items: center;
  justify-content: center;
}

.circle {
  background-color: #d3d3d3;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.circle img {
  width: 55%;
  height: 55%;
}

/* 반응형 */
@media screen and (max-width: 768px) {
  .tutorial__content {
    flex-direction: column;
    align-items: center;
  }

  .tutorial__timer {
    text-align: center;
  }
}