@font-face {
	font-family: 'MapoPeacefull';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoPeacefullA.woff') format('woff');
	font-weight: normal;
	font-style: normal;
  }
@import url(https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css);

body{
	font-family: 'NanumSquare', sans-serif;
	font-weight: 600;
}

table td{
	margin-bottom: 20px;
	/* height: 70px;
	vertical-align: bottom;
	line-height: 100%; */
}
table th {
	height: 60px;
	line-height: 100%;
}

#toptable {
	table-layout: fixed;
	margin: auto;
	left: 20%;
	width: 80%;
	vertical-align:top;
}

#etctable {
	background-color: white;
	border: 2px dashed powderblue;
	table-layout: fixed;
	margin: auto;
	left: 75%;
	width: 50%;	
	border-collapse: collapse;
	text-align: center;
	padding-bottom: 20%;
	font-size: 19px;

}

#toprank {
	display: inline-block;
	/* border: 1px solid green; */
	width: 70%;
	text-align: center;
	position: relative;
	margin : auto;
	top: 100px;
}

#top2 {
	
}
#allrank {
	display: flex;
	justify-content: center;
	/* border: 1px solid red; */
	left: 20%;
	margin-top: 80px;
	padding-bottom: 40px; 
	padding-top:40px;
}
/* 
#etcrank {
	text-align: center;
	display: inline-block;
	background-color: powderblue;
	border: 1px solid black;
	width: 50%;
} */


/* #top2 {
	background-color: white;
	border: 1px solid black;
	width: 60px;
	display: inline-block;
	height: 80px;

}

#top3 {
	background-color: white;
	border: 1px solid black;
	width: 40px;
	display: inline-block;
	height: 80px;

} */

.rectangles {
	/* border: 2px solid black; */
	width: 60px;
	display: inline-block;
	height: 100%;
	margin-top: 15px;
	margin-right: 40px;
	margin-left: 40px;
	vertical-align:bottom;
	text-align: center;
}

#first {
	height: 200px;
}
#second {
	height : 140px;
}
.inside {
	background-color: powderblue;
	border: 2px solid black;
	width : 100%;
	display: inline-block;
	height:100px;
	margin-bottom: 2px;
}

.profiles {
	width: 50px;
}

.bold {
	font-style: normal;
	font-weight: bolder;
	font-size: 25px;
}

#me {
	background-color: powderblue;
}

/* #image {
	position: absolute;
	top: 27%;
	left: 11.7%;
	z-index:1;
} */