
/* month */
.m_num {
  font-size: 30pt;
  font-weight: bold;
  display: inline;
}

.m_eng {
  display: inline;
}

/* calendar */

.calendar {
  border: 1px solid #7e7e7e;
  border-collapse: collapse;
  width: 80%;
  height: 100%;
  padding-bottom: 5vh;
  
}

th {
  background-color: #dddddd;
  border: 1px solid #7e7e7e;
  width: 10%;
  padding: 5px;
}

td {
  border: 1px solid #7e7e7e;
  padding: 0.5px;
  vertical-align: top;
}

td i {
  font-size: 30px;
}

.day {
  text-align: center;
  margin: 10px;
}